pipeline/importSugarCubeSales.json
{
	"name": "importSugarCubeSales",
	"properties": {
		"activities": [
			{
				"name": "import sales data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup runseqno",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "RunSeqNo",
								"value": {
									"value": "@activity('lookup runseqno').output",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "azure-data-factory-by-example-main/SampleData/SugarCube",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Month']"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['Company']"
								},
								"sink": {
									"name": "Retailer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Product']"
								},
								"sink": {
									"name": "Product",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['ManufacturerProductCode']"
								},
								"sink": {
									"name": "ManufacturerProductCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Units']"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Value']"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['RunSeqNo']"
								},
								"sink": {
									"name": "runseqno",
									"type": "Int32"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_JSON_SugarCube",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "lookup runseqno",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"folder": {
			"name": "chapter3"
		},
		"annotations": []
	}
}